	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="static/img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>RecruiTECH</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">

			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="static/styles/linearicons.css">
			<link rel="stylesheet" href="static/styles/font-awesome.min.css">
			<link rel="stylesheet" href="static/styles/bootstrap.css">
			<link rel="stylesheet" href="static/styles/magnific-popup.css">
			<link rel="stylesheet" href="static/styles/nice-select.css">
			<link rel="stylesheet" href="static/styles/animate.min.css">
			<link rel="stylesheet" href="static/styles/owl.carousel.css">
			<link rel="stylesheet" href="static/styles/main.css">
	</head>
		<body>

			   {% include "header.html" %}


			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Search for Jobs				
							</h1>	
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<section class="post-area section-gap" style="padding-bottom: 0px; margin-bottom: 0px;">	
				<div class="container">
					<div class="row search-page-top d-flex align-items-center justify-content-center" style="padding: 0px 0px;">
						<div class="banner-content col-lg-12" style="margin-top: -50px;">

							<form action="{{url_for('filtering')}}" method="post">
								<div class="row justify-content-center form-wrap">

									<div class="col-lg-2 form-cols">
										<div class="default-select" id="default-selects">
											<select class = "form-control" id="jobCategory" name="jobCategory">
												<option value=None selected>Select Category</option>
												<option value="Finance">Finance</option>
												<option value="Marketing">Marketing</option>
												<option value="Business Intelligence">Business Intelligence</option>
												<option value="Data Analytics">Data Analytics</option>
												<option value="Data Science">Data Science</option>
												<option value="Machine Learning">Machine Learning</option>
												<option value="Information Security">Information Security</option>
												<option value="Financial Analyst">Financial Analyst</option>
												<option value="Accounts">Accounts</option>
												<option value="Cloud Computing">Cloud Computing</option>
												<option value="Bitcoin Trading Analytics">Bitcoin Trading Analytics</option>
												<option value="Sales professional">Sales professional</option>
												<option value="Software Developer">Software Developer</option>
												<option value="Web Developer">Web Developer</option>
												<option value="Supply Chain Management">Supply Chain Management</option>
												<option value="Operations">Operations</option>
											</select>
										</div>
									</div>

									<div class="col-lg-2 form-cols">
										<div class="default-select" id="default-selects">
											<select class = "form-control" id="jobLocation" name="jobLocation">
												<option value=None selected>Select Location</option>
												<option value="Mumbai">Mumbai</option>
												<option value="Delhi">Delhi</option>
												<option value="Bangalore">Bangalore</option>
												<option value="Hyderabad">Hyderabad</option>
												<option value="Chennai">Chennai</option>
											</select>
										</div>
									</div>

									<div class="col-lg-2 form-cols">
										<div class="default-select" id="default-selects2">
											<select class = "form-control" id="jobType" name="jobType">
												<option value=None selected>Select Type</option>
												<option value="Work From Home">Work From Home</option>
												<option value="In-Office">In-Office</option>
												<option value="Part Time">Part Time</option>
											</select>
										</div>
									</div>

									<div class="col-lg-2 form-cols">
										<div class="default-select" id="default-selects">
											<select class = "form-control" id="jobSalary" name="jobSalary">
												<option value=None selected>Select Min Salary</option>
												<option value="10000">10,000</option>
												<option value="20000">20,000</option>
												<option value="30000">30,000</option>
												<option value="40000">40,000</option>
												<option value="50000">50,000</option>
												<option value="60000">60,000</option>
												<option value="70000">70,000</option>
											</select>
										</div>
									</div>

									<div class="col-lg-2 form-cols">
									    <input type="submit" class="genric-btn primary circle arrow" value="Submit">
									      <span class="lnr lnr-magnifier"></span>
										</input>
									</div>

								</div>
							</form>

						</div>
					</div>
				</div>
			</section>
			
			<!-- Start post Area -->
			<section class="post-area section-gap">
				<div class="container">
					<div class="row justify-content-center d-flex">

						<div class="col-lg-8 post-list">
							{% if jobCategory is none %}

							{% for item in jobDetails %}
							<div class="single-post d-flex flex-row">

								<div class="thumb" style="margin-right:75px">
									<img src="static/img/001-code.png" alt="" style="height: 100px; width: 100px;">
								</div>

								<div class="details">
									<div class="title d-flex flex-row justify-content-between">
										<div class="titles">
											<h4>{{ item.jobName }}</h4>
											<h6>{{ companies[loop.index0][0][0] }}</h6>
										</div>
										{% if item.id in appliedJobs %}
											<ul class="btns"  style= "position:relative;left:100px;">
												<li ><a data-toggle="modal" data-target="#jobApplicationModal" href="#jobApplicationModal">Applied</a></li>
											</ul>
<!--										Modal Begins from here-->
											<div class="modal fade" id="jobApplicationModal" tabindex="-1" role="dialog" aria-labelledby="jobApplicationModalLabel" aria-hidden="true">
											  <div class="modal-dialog" role="document">
												<div class="modal-content">
												  <div class="modal-header">
													<h5 class="modal-title" id="jobApplicationModalLabel">Hey {{ current_user.first_name }}</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													  <span aria-hidden="true">&times;</span>
													</button>
												  </div>
												  <div class="modal-body">
													<p>You have already applied for this job.</p>
												  </div>
												</div>
											  </div>
											</div>
<!--										Modal ends here -->
										{% else %}
											<ul class="btns"  style= "position:relative;left:100px;">
												<li ><a href="{{url_for('candidate_job_post', jobid=item.id)}}">View Job</a></li>
											</ul>
										{% endif %}
									</div>
									<h5>Department: {{ item.department }}</h5>
									<h5>Job Type: {{ item.jobtype }}</h5>
									<p class="address"><span class="lnr lnr-map"></span> {{ item.location }}</p>
									<p class="address"><span class="lnr lnr-database"></span>{{ item.minsalary }} - {{ item.maxsalary }}</p>
								</div>
							</div>
							{% endfor %}

							{% else %}
							{% for item in jobCategory %}
							<div class="single-post d-flex flex-row">

								<div class="thumb" style="margin-right:75px">
									<img src="static/img/001-code.png" alt="" style="height: 100px; width: 100px;">
								</div>

								<div class="details">
									<div class="title d-flex flex-row justify-content-between">
										<div class="titles">
											<h4>{{ item.jobName }}</h4>
											<h6>{{ companies[loop.index0][0][0] }}</h6>
										</div>
										{% if item.id in appliedJobs %}
											<ul class="btns"  style= "position:relative;left:100px;">
												<li ><a data-toggle="modal" data-target="#jobApplicationModal" href="#jobApplicationModal">Applied</a></li>
											</ul>
<!--										Modal Begins from here-->
											<div class="modal fade" id="jobApplicationModal" tabindex="-1" role="dialog" aria-labelledby="jobApplicationModalLabel" aria-hidden="true">
											  <div class="modal-dialog" role="document">
												<div class="modal-content">
												  <div class="modal-header">
													<h5 class="modal-title" id="jobApplicationModalLabel">Hey {{ current_user.first_name }}</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													  <span aria-hidden="true">&times;</span>
													</button>
												  </div>
												  <div class="modal-body">
													<p>You have already applied for this job.</p>
												  </div>
												</div>
											  </div>
											</div>
<!--										Modal ends here -->
										{% else %}
											<ul class="btns"  style= "position:relative;left:100px;">
												<li ><a href="{{url_for('candidate_job_post', jobid=item.id)}}">View Job</a></li>
											</ul>
										{% endif %}
									</div>
									<h5>Department: {{ item.department }}</h5>
									<h5>Job Type: {{ item.jobtype }}</h5>
									<p class="address"><span class="lnr lnr-map"></span> {{ item.location }}</p>
									<p class="address"><span class="lnr lnr-database"></span> {{ item.minsalary }} - {{ item.maxsalary }}</p>
								</div>
							</div>
							{% endfor %}
							{% endif %}

						</div>

						<div class="col-lg-4 sidebar">
							<div class="single-slidebar">
								<h4>Jobs by Location</h4>
								<ul class="cat-list">
									<li><a class="justify-content-between d-flex" href="#"><p>New York</p><span>37</span></a></li>
									<li><a class="justify-content-between d-flex" href="#"><p>Park Montana</p><span>57</span></a></li>
									<li><a class="justify-content-between d-flex" href="#"><p>Atlanta</p><span>33</span></a></li>
									<li><a class="justify-content-between d-flex" href="#"><p>Arizona</p><span>36</span></a></li>
									<li><a class="justify-content-between d-flex" href="#"><p>Florida</p><span>47</span></a></li>
									<li><a class="justify-content-between d-flex" href="#"><p>Rocky Beach</p><span>27</span></a></li>
									<li><a class="justify-content-between d-flex" href="#"><p>Chicago</p><span>17</span></a></li>
								</ul>
							</div>
						</div>

					</div>
				</div>	
			</section>
			<!-- End post Area -->

			   {% include "footer.html" %}

			<script src="static/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="static/js/vendor/bootstrap.min.js"></script>
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="static/js/easing.min.js"></script>
			<script src="static/js/hoverIntent.js"></script>
			<script src="static/js/superfish.min.js"></script>
			<script src="static/js/jquery.ajaxchimp.min.js"></script>
			<script src="static/js/jquery.magnific-popup.min.js"></script>
			<script src="static/js/owl.carousel.min.js"></script>
			<script src="static/js/jquery.sticky.js"></script>
			<script src="static/js/jquery.nice-select.min.js"></script>
			<script src="static/js/parallax.min.js"></script>
			<script src="static/js/mail-script.js"></script>
			<script src="static/js/main.js"></script>
		</body>
	</html>



