	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="static/img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>RecruiTECH</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="static/styles/linearicons.css">
			<link rel="stylesheet" href="static/styles/font-awesome.min.css">
			<link rel="stylesheet" href="static/styles/bootstrap.css">
			<link rel="stylesheet" href="static/styles/magnific-popup.css">
			<link rel="stylesheet" href="static/styles/nice-select.css">
			<link rel="stylesheet" href="static/styles/animate.min.css">
			<link rel="stylesheet" href="static/styles/owl.carousel.css">
			<link rel="stylesheet" href="static/styles/main.css">
		</head>
		<body>

			 {% include "header.html" %}


			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								My Applications
							</h1>	
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			 <section class="post-area section-gap" style="padding-bottom: 0px; margin-bottom: 0px;">
				<div class="container">
					<div class="row search-page-top d-flex align-items-center justify-content-center" style="padding: 0px 0px;">
						<div class="banner-content col-lg-12" style="margin-top: -70px;">
							<div class="section-top-border">
								<table class="table table-hover">
								  <thead class="thead-dark">
									<tr>
										<th scope="col">S.No</th>
										<th scope="col">Company Name</th>
										<th scope="col">Job Name</th>
										<th scope="col">Department</th>
										<th scope="col">Job Type</th>
										<th scope="col"></th>
									</tr>
								  </thead>
								  <tbody>

								  {% for job in details %}
									<tr>
									  <th scope="row">{{ loop.index }}</th>
									  <td>{{ job[4] }}</td>
									  <td>{{ job[1] }}</td>
									  <td>{{ job[2] }}</td>
									  <td>{{ job[3] }}</td>
									  <td><a href="{{url_for('candidate_job_post',jobid=job[5])}}"
											 class="genric-btn primary radius">View Profile</a></td>
									</tr>
								  {% endfor %}

								  </tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>


		 {% include "footer.html" %}

			<script src="static/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="static/js/vendor/bootstrap.min.js"></script>
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="static/js/easing.min.js"></script>
			<script src="static/js/hoverIntent.js"></script>
			<script src="static/js/superfish.min.js"></script>
			<script src="static/js/jquery.ajaxchimp.min.js"></script>
			<script src="static/js/jquery.magnific-popup.min.js"></script>
			<script src="static/js/owl.carousel.min.js"></script>
			<script src="static/js/jquery.sticky.js"></script>
			<script src="static/js/jquery.nice-select.min.js"></script>
			<script src="static/js/parallax.min.js"></script>
			<script src="static/js/mail-script.js"></script>
			<script src="static/js/main.js"></script>
		</body>
	</html>



