<footer class="footer-area section-gap">
				   <div class="container">
					   <div class="row">
						   <div class="col-lg-3  col-md-12">
							   <div class="single-footer-widget">
								   <h6>Top Services</h6>
								   <ul class="footer-nav">
									   <li>Most Suitable Job Listings</li>
									   <li>Infographic CV</li>
									   <li>Psychometric Tests</li>
									   <li>Hire Candidates</li>
								   </ul>
							   </div>
						   </div>

						<div class="col-lg-3  col-md-12">
							<div class="single-footer-widget newsletter">
								<h6>Contact Details</h6>
								<li>Mrigank Sharma, +91 8758122463</li>
									<li>Sanskar Syal, +91 8989509696</li>
									<li>Khushi Thakkar, +91 9958055020</li>
							</div>
						</div>

						<div class="col-lg-6  col-md-12">
							<div class="single-footer-widget mail-chimp">
								<h6 class="mb-20">About Us</h6>
								<div id="logo" style="margin-bottom: 20px;">
				        			<a href="index.html"><img src="static/img/logo.png" alt="" title="" /></a>
				      			</div>
								<p style="text-align: justify;">
								We are a group of students currently studying in the 4th year of MBA Tech IT (Information Technology) from Mukesh Patel School Of Technology Management and Engineering.
								</p>
							</div>
						</div>
					</div>

					<div class="row footer-bottom d-flex justify-content-between">
						<p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
							Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by RecruiTECH</a>
						</p>
					</div>
				</div>
			</footer>