<header id="header" id="home">
			    <div class="container">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="index.html"><img src="img/logo.png" alt="" title="" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li class="menu-active"><a href="{{url_for('recruiter_dashboard')}}">Home</a></li>
				          <!--<li><a href="{{url_for('recruiter_company_profile')}}">Company Profile</a></li>-->
				          <li><a href="{{url_for('recruiter_post_opening')}}">Post an Opening</a></li>
				          <li><a href="{{url_for('recruiter_applications')}}">View Applications</a></li>
				          <!--<li><a href="blog-home.html">Upload Test</a></li>
				          <li><a href="{{url_for('recruiter_about_us')}}">About Us</a></li>-->
				          <li><a href="{{url_for('recruiter_contact')}}">Support</a></li>
				          <li><a href="{{url_for('logout')}}">Logout</a></li>
				        </ul>
				      </nav><!-- #nav-menu-container -->
			    	</div>
			    </div>
			  </header><!-- #header -->