	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="static/img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>RecruiTECH</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="static/styles/linearicons.css">
			<link rel="stylesheet" href="static/styles/font-awesome.min.css">
			<link rel="stylesheet" href="static/styles/bootstrap.css">
			<link rel="stylesheet" href="static/styles/magnific-popup.css">
			<link rel="stylesheet" href="static/styles/nice-select.css">
			<link rel="stylesheet" href="static/styles/animate.min.css">
			<link rel="stylesheet" href="static/styles/owl.carousel.css">
			<link rel="stylesheet" href="static/styles/main.css">
		</head>
		<body>

			   
				  {% include "headerrecruiter.html" %}

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								About Us				
							</h1>	
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->	
				
			<!-- Start service Area -->
			<section class="service-area section-gap" id="service">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-md-8 pb-0 header-text">
							<h1>Why Choose Us</h1>
							<p style="font-size: 15px;">
								Who want an efficient recruitment process, from Searching <span class="lnr lnr-arrow-right"></span> Applying <span class="lnr lnr-arrow-right"></span> Updating <span class="lnr lnr-arrow-right"></span> Hiring
							</p>
						</div>
					</div>
				</div>	
			</section>
			<!-- End service Area -->						

			<!-- Start feature Area -->
			<section class="feature-area">
				<div class="container-fluid">
					<div class="row justify-content-center align-items-center">
						<div class="col-lg-3 feat-img no-padding">
							<img class="img-fluid" src="static/img/pages/f1.jpg" alt="">
						</div>
						<div class="col-lg-3 no-padding feat-txt">
							<!--<h6 class="text-uppercase text-white">Basic & Common Repairs</h6>-->
							<h1>Who we are</h1>
							<p> 
								We are a group of students currently studying in the 4th year of MBA Tech IT (Information Technology) from Mukesh Patel School Of Technology Management and Engineering.
							</p>
						</div>
						<div class="col-lg-3 feat-img no-padding">
							<img class="img-fluid" src="static/img/pages/f2.jpg" alt="">
						</div>
						<div class="col-lg-3 no-padding feat-txt">
							<!--<h6 class="text-uppercase text-white">Basic & Common Repairs</h6>-->
							<h1>What is it</h1>
							<p>
								We have created this as a part of our final project in engineering. We aim to provide a holistic job platform, both for recruiters and job seekers, which should enable them to make the recruitment process seamless and efficient.
							</p>
						</div>
					</div>
				</div>	
			</section>
			<!-- End feature Area -->

			<!-- Start team Area -->
			<section class="team-area section-gap" id="team">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Experienced Mentor Team</h1>
							</div>
						</div>
					</div>						
					<div class="row justify-content-center d-flex align-items-center">
						<div class="col-md-3 single-team">
						    <div class="thumb">
						        <img class="img-fluid" src="static/img/pages/t1.jpg" alt="" style="width: 500px; height: 250px;">
						    </div>
						    <div class="meta-text mt-30 text-center">
							    <h4>Mrigank Sharma</h4>
							    <p>AI ka Topper</p>									    	
						    </div>
						</div>

						<div class="col-md-3 single-team">
						    <div class="thumb">
						        <img class="img-fluid" src="static/img/pages/t2.jpg" alt="" style="width: 500px; height: 250px;">
						    </div>
						    <div class="meta-text mt-30 text-center">
							    <h4>Khushi Thakkar</h4>  
							    <p>AI ka Topper</p>  	
						    </div>
						</div>	

						<div class="col-md-3 single-team">
						    <div class="thumb">
						        <img class="img-fluid" src="static/img/pages/t3.jpg" alt="" style="width: 500px; height: 250px;">
						    </div>
						    <div class="meta-text mt-30 text-center">
							    <h4>Sanskar Syal</h4>			
							    <p>AI ka Topper</p>    	
						    </div>
						</div>																							
				
					</div>
				</div>	
			</section>
			<!-- End team Area -->			


			<!-- Start callto-action Area -->
			<section class="callto-action-area section-gap">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content col-lg-9">
							<div class="title text-center">
								<h1 class="mb-10 text-white">Join us today without any hesitation</h1>
								<p class="text-white">A platform which brings you the most suitable jobs and candidates making the recruitment process, seamless and efficient!</p>
								<a class="primary-btn" href="{{url_for('login')}}">Login</a>
								<a class="primary-btn" href="{{url_for('signup')}}">Sign Up</a>
							</div>
						</div>
					</div>	
				</div>	
			</section>
			<!-- End calto-action Area -->

						 {% include "footer.html" %}

			<script src="static/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="static/js/vendor/bootstrap.min.js"></script>
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="static/js/easing.min.js"></script>
			<script src="static/js/hoverIntent.js"></script>
			<script src="static/js/superfish.min.js"></script>
			<script src="static/js/jquery.ajaxchimp.min.js"></script>
			<script src="static/js/jquery.magnific-popup.min.js"></script>
			<script src="static/js/owl.carousel.min.js"></script>
			<script src="static/js/jquery.sticky.js"></script>
			<script src="static/js/jquery.nice-select.min.js"></script>
			<script src="static/js/parallax.min.js"></script>
			<script src="static/js/mail-script.js"></script>
			<script src="static/js/main.js"></script>
		</body>
	</html>



